$bgColor: #f8f8f8;
$txtColor: #333;
$mainColor: #a953a8;

$maxWidth: 980px;

a {
  color: $txtColor;
  text-decoration: none;
  transition: all .3s ease-out;
}

ul {
  list-style: none;
}

img {
  height: auto;
  width: 100%;
}

.breadcrumb {
  &_wrapper {
    max-width: $maxWidth;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px 0;
    font-size: 14px;
    li {
      & + li {
        margin: 0 0 0 4px;
      }
    }
  }
}



@media screen and (max-width: $maxWidth) {
  .breadcrumb {
    &_wrapper {
      padding: 15px 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .breadcrumb {
    &_wrapper {
      padding: 15px 30px;
    }
  }
}

@media screen and (max-width: 480px) {
  .breadcrumb {
    &_wrapper {
      padding: 15px;
    }
  }
}
