.frontPageHeader {
  background: url('./assets/img/frontPage/frontPageHero.jpg');
  background-size: cover;
  background-position: center;
  &_wrapper {
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &_title {
    font-size: 56px;
    color: #fff;
  }
  &_subtitle {
    font-size: 20px;
    color: #fff;
  }
}

.frontNews {
  padding: 30px 0;
  max-width: $maxwidth;
  margin: 0 auto;
  &_title {
    text-align: center;
    margin-bottom: 30px;
    &-l {
      font-size: 36px;
    }
    &-s {
      font-size: 14px;
    }
  }
  &_posts {
    display: grid;
    grid-template: auto / repeat(3, 1fr);
    grid-gap: 15px;
  }
}


@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 768px) {

  .frontNews {
    &_posts {
      grid-template: auto / 1fr;
      grid-gap: 0;
      padding: 0 15px;
    }
  }
}

@media screen and (max-width: 480px) {
  .frontPageHeader {
    &_title {
      font-size: 48px;
    }
    &_subtitle {
      font-size: 16px;
    }
  }

  .frontNewsEntry {
    margin-bottom: 32px;
    &_title {
      font-size: 18px;
    }
  }

}
