.pageHeader {
  background: #f8f8f8;
  &_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 260px;
    h1 {
      font-size: 48px;
    }
  }
}

.pageContent {
  background: #f8f8f8;
  padding: 90px 0;
  &_wrapper {
    padding: 80px;
    max-width: $maxWidth;
    margin: 0 auto;
    background: #fff;
  }
}


@media screen and (max-width: $maxWidth) {
  .pageContent {
    padding: 50px;
    &_wrapper {
      padding: 40px;
    }
  }
}

@media screen and (max-width: 768px) {
  .pageContent {
    padding: 50px 30px;
    &_wrapper {
      padding: 30px 15px;
    }
  }
}

@media screen and (max-width: 480px) {
  .pageContent {
    padding: 50px 15px;
  }
}
