.footer {
  background: #323232;
  &_wrapper {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 20px 0;
  }
  &_menu {
    ul {
      display: flex;
      align-items: center;
    }
    li + li {
        margin: 0 0 0 15px;
    }
    a {
      color: #fff;
      display: block;
    }
  }
}

.copyright {
  text-align: center;
  background: #333;
  color: #fff;
  padding: 15px 0;
}

@media screen and (max-width: $maxWidth) {
  .footer {
    &_wrapper {
      padding: 20px 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    &_wrapper {
      padding: 20px 30px;
    }
  }
}

// スマホ
@media screen and (max-width: 480px) {
  .footer {
    &_wrapper {
      padding: 20px 15px;
    }
  }
}
