.header {
  background: $bgColor;
  &_wrapper {
    max-width: $maxWidth;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.headerPcNav {
  &_menu {
    display: flex;
    li {
      list-style: none;
      & + li {
        margin: 0 0 0 10px;
      }
    }
  }
}

.headerSpNav {
  display: none;
}

.siteTitle {
  font-size: 32px;
  font-weight: bold;
}

@media screen and (max-width: $maxWidth) {
  .header {
    &_wrapper {
      padding: 10px 50px;
    }
  }
}

// タブレット
@media screen and (max-width: 768px) {
  .header {
    &_wrapper {
      padding: 10px 30px;
    }
  }

  .headerPcNav {
    display: none;
  }

  .headerSpNav {
    position: relative;
    display: block;
    &.active {
      nav {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    nav {
      display: none;
      height: 100%;
      width: 100%;
      background: #fff;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 20;
    }
    &_btn {
      height: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 30;
      span {
        height: 2px;
        width: 25px;
        background: #333;
        display: block;
        transition: all .4s ease-out;
      }
      &.active {
        justify-content: center;
        position: fixed;
        right: 15px;
        top: 15px;
        span {
          transform-origin: center;
          &:nth-of-type(1) {
            transform: rotate(-405deg) translate(-1px, 2px);
          }
          &:nth-of-type(2) {
            transform: translate(200%, 0);
            opacity: 0;
          }
          &:nth-of-type(3) {
            transform: rotate(405deg) translate(-1px, -2px);
          }
        }
      }
    }
    &_menu {
      li {
        margin: 10px 0;
        a {
          font-size: 18px;
        }
      }
    }
  }


}


// スマホ
@media screen and (max-width: 480px) {
  .header {
    &_wrapper {
      padding: 10px 15px;
    }
  }
}
